name: run-monitor

on:
  schedule:
    - cron: "0 */6 * * *"   # Cada 6 horas
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run monitor script
        working-directory: ${{ github.workspace }}
        run: python monitor.py
